# GitHub Actions Virtual Environments
# https://github.com/actions/virtual-environments/

# A template workflow intended for Apple Platform libraries

name: CI

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

env:
  PROJECT: PROJECT.xcodeproj
  SCHEME: PROJECT

  EXAMPLE_PROJECT: Example/ExampleApp.xcodeproj
  EXAMPLE_SCHEME: ExampleApp

  DEVELOPER_DIR: /Applications/Xcode_12.4.app/Contents/Developer

  IOS_SDK: iphonesimulator14.4
  IOS_DEST: "OS=14.4,name=iPhone 12 Mini"

  TVOS_SDK: appletvsimulator14.3
  TVOS_DEST: "OS=14.3,name=Apple TV"

  WATCHOS_SDK: watchsimulator7.2
  WATCHOS_DEST: "OS=7.2,name=Apple Watch Series 6 - 44mm"

  MACOS_SDK: macosx11.1
  MACOS_DEST: "arch=x86_64"

jobs:
  env-details:
    name: Environment details
    runs-on: macOS-latest
    steps:
      - name: xcode version
        run: xcodebuild -version -sdk

      - name: list simulators
        run: |
          xcrun simctl delete unavailable
          xcrun simctl list

  test-iOS:
    name: iOS unit test
    runs-on: macOS-latest
    steps:
      - name: git checkout
        uses: actions/checkout@v2

      - name: unit tests
        run: |
          set -o pipefail
          xcodebuild clean test \
              -project "$PROJECT" \
              -scheme "$SCHEME" \
              -sdk "$IOS_SDK" \
              -destination "$IOS_DEST" \
              ONLY_ACTIVE_ARCH=NO CODE_SIGNING_REQUIRED=NO | xcpretty -c

  test-tvOS:
    name: tvOS unit test
    runs-on: macOS-latest
    steps:
      - name: git checkout
        uses: actions/checkout@v2

      - name: unit tests
        run: |
          set -o pipefail
          xcodebuild clean test \
              -project "$PROJECT" \
              -scheme "$SCHEME" \
              -sdk "$TVOS_SDK" \
              -destination "$TVOS_DEST" \
              ONLY_ACTIVE_ARCH=NO CODE_SIGNING_REQUIRED=NO | xcpretty -c

  test-watchOS:
    name: watchOS build
    runs-on: macOS-latest
    steps:
      - name: git checkout
        uses: actions/checkout@v2

      - name: build
        run: |
          set -o pipefail
          xcodebuild clean build \
              -project "$PROJECT" \
              -scheme "$SCHEME" \
              -sdk "$WATCHOS_SDK" \
              -destination "$WATCHOS_DEST" \
              ONLY_ACTIVE_ARCH=NO CODE_SIGNING_REQUIRED=NO | xcpretty -c

  test-macOS:
    name: macOS unit test
    runs-on: macOS-latest
    steps:
      - name: git checkout
        uses: actions/checkout@v2

      - name: unit tests
        run: |
          set -o pipefail
          xcodebuild clean test \
              -project "$PROJECT" \
              -scheme "$SCHEME" \
              -sdk "$MACOS_SDK" \
              -destination "$MACOS_DEST" \
              ONLY_ACTIVE_ARCH=NO CODE_SIGNING_REQUIRED=NO | xcpretty -c

  ui-test-iOS:
    name: iOS UI test (Example Project)
    runs-on: macOS-latest
    steps:
      - name: git checkout
        uses: actions/checkout@v2

      - name: ui tests
        run: |
          set -o pipefail
          xcodebuild clean test \
              -project "$EXAMPLE_PROJECT" \
              -scheme "$EXAMPLE_SCHEME" \
              -sdk "$IOS_SDK" \
              -destination "$IOS_DEST" \
              ONLY_ACTIVE_ARCH=NO CODE_SIGNING_REQUIRED=NO | xcpretty -c

  ui-test-macOS:
    name: macOS UI test (Example Project)
    runs-on: macOS-latest
    steps:
      - name: git checkout
        uses: actions/checkout@v2

      - name: ui tests
        run: |
          set -o pipefail
          xcodebuild clean test \
              -project "$EXAMPLE_PROJECT" \
              -scheme "$EXAMPLE_SCHEME" \
              -sdk "$MACOS_SDK" \
              -destination "$MACOS_DEST" \
              ONLY_ACTIVE_ARCH=NO CODE_SIGNING_REQUIRED=NO | xcpretty -c
